APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomStringWith32Characters

DB_HOST=localhost
DB_DATABASE=eat	
DB_USERNAME=root
DB_PASSWORD=''

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST= smtp.gmail.com
MAIL_PORT= 25
MAIL_USERNAME= mrmoghal@gmail.com
MAIL_PASSWORD= #DrAsrarAhmad
MAIL_ENCRYPTION=null
