*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #F9F9F9;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
   background: #fff;
   padding: 40px;
   
    overflow-y: auto;
   /* margin: auto; */
   max-width: 80%;
    max-height: 100%;
  border-radius: 5px;
  border:2px solid gray;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group1{
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group1:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group1 li a {
  display: block;
  text-decoration: none;
  padding: 5px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 10%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 5px;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 6px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 5px;
}
.tab-group1 li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}.tab-group1 .active a {
  background: #1ab188;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #555459;
  font-weight: 300;
  margin: 0 0 40px;
}

p {
  text-align: center;
  color: #555459;
  font-weight:50;
  margin: 0 0 40px;
}

p.speech
{
	position: relative;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
p.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}
p.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}

input, textarea {
  font-size: 22px;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: black;
  border-radius: 5px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 20%;
  margin-right: 1%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  border-radius: 5px;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 22px;
  font-weight: 600;
  
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
	border-radius: 5px;
  display: block;
  width: 10%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
